<div>
  <div class="logo-container flex flex--space-between">
    <legend class="logo" [routerLink]="['/alunos/listar']">Escola</legend>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="menu">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['']">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item [routerLink]="['alunos/listar']">
          <mat-icon>list</mat-icon>
          <span>Lista de Alunos</span>
        </button>
        <button mat-menu-item [routerLink]="['alunos/cadastrar']">
          <mat-icon>save</mat-icon>
          <span>Cadastrar Aluno</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
